bokeh==3.6.2
fastapi==0.115.7
geopandas==1.0.1
geoviews==1.14.0
ipyleaflet==0.19.2
ipywidgets==8.1.5
matplotlib==3.10.0
numpy==2.2.2
ortools==9.11.4210
pandas==2.2.3
panel==1.6.0
param==2.2.0
Pillow==11.1.0
pulp==2.9.0
rasterio==1.4.3
rio_tiler==7.4.0
scipy==1.15.1
Shapely==2.0.6
uvicorn==0.34.0
